<div class="employee-icon"
     ng-style="{'background-image' : 'url(' + imageSrc + ')'}"></div>

<div class="employee-form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name eingeben" ng-model="data.name">
    </div>

    <div class="form-group">
        <label>Buddy Icon</label>
        <input type="file" nv-file-select uploader="uploader"/><br/>

        <div ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': uploader.queue[uploader.queue.length - 1].progress + '%' }"
                     ng-class="{'progress-bar-striped active' : uploader.queue[uploader.queue.length - 1].progress == 100 && !uploader.queue[uploader.queue.length - 1].isSuccess,
                     'progress-bar-success' : uploader.queue[uploader.queue.length - 1].isSuccess}"></div>
            </div>
        </div>
    </div>
</div>