<form>
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" placeholder="Titel eingeben" ng-model="modalVars.data.title">
    </div>

    <div class="form-group">
        <label for="title">Bilder</label>

        <input type="file" nv-file-select uploader="uploader" multiple/><br/>

        <div ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0"
                 ng-style="{'visibility': uploader.isUploading ? 'visible' : 'hidden'}">
                <div class="progress-bar" role="progressbar"
                     ng-style="{ 'width': uploader.progress + '%' }"
                     ng-class="{'progress-bar-striped active' : uploader.queue[uploader.queue.length - 1].progress == 100 && !uploader.queue[uploader.queue.length - 1].isSuccess,
                     'progress-bar-success' : uploader.queue[uploader.queue.length - 1].isSuccess}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="image in modalVars.data.images">
                <div class="thumbnail">
                    <img ng-src="{{phpServerRoot + '/' + image.imageThumbSrc}}">

                    <div class="caption">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="shiftLeft($index)"
                                    ng-disabled="$index == 0">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="shiftRight($index)"
                                    ng-disabled="$index == modalVars.data.images.length - 1">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>

                            <button type="button" class="btn btn-default" ng-click="remove($index)"
                                    ng-class="{'btn-danger' : showConfirmDeletion($index)}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                      ng-class="{'red' : showConfirmDeletion($index)}"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="toggleSize($index)">
                                <span class="glyphicon" aria-hidden="true"
                                      ng-class="{'glyphicon-plus-sign' : modalVars.data.images[$index].imageSize == 'small', 'glyphicon-minus-sign' : modalVars.data.images[$index].imageSize == 'large'}"></span>
                                <span ng-show="modalVars.data.images[$index].imageSize == 'small'"> Groß</span>
                                <span ng-show="modalVars.data.images[$index].imageSize == 'large'"> Normal</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

