<form>
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" placeholder="Titel eingeben" ng-model="modalVars.data.title">
    </div>
    <div class="form-group">
        <label>Maximale Anzahl an Fotos</label>

        <div>
            <span class="badge">{{modalVars.data.maxPhotos}}</span>
            <slider ng-model="modalVars.data.maxPhotos" min="1" step="1" max="30" value="modalVars.data.maxPhotos"
                    style="display: inline-block" tooltip="hide"></slider>
        </div>
    </div>
    <div class="form-group">
        <label>Optionen</label>

        <div class="checkbox">
            <label>
                <input ng-model="modalVars.data.filterOutTags" ng-checked="modalVars.data.filterOutTags"
                       type="checkbox">
                Hashtags aus Bild-Caption entfernen
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-model="modalVars.data.filterForTags" ng-checked="modalVars.data.filterForTags"
                       type="checkbox">
                Nach Hashtags filtern
            </label>
        </div>
    </div>

    <div class="form-group tag-option" ng-show="showTagsInput()">
        <label>Nur Fotos mit diesen Tags anzeigen:</label>
        <tags-input ng-model="tags" placeholder="Tag eingeben" on-tag-added="addTag($tag)" on-tag-removed="removeTag($tag)"></tags-input>
    </div>
</form>

