<form name="form" novalidate>
  <div class="form-group">
    <label for="title">Titel</label>
    <input type="text" class="form-control" id="title" placeholder="Titel eingeben" ng-model="modalVars.data.title"
           name="title" required>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <text-angular id="text" ta-paste="modifyHtml($html)" ng-model="modalVars.data.content" required></text-angular>
  </div>

  <div ng-show="form.$submitted && !form.$valid" class="alert alert-warning">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    <span ng-show="form.content.$error.required || form.title.$error.required">
      {{errorMessages.emptyField}}
    </span>
  </div>

</form>

