<form>
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title" placeholder="Titel eingeben" ng-model="modalVars.data.title">
    </div>

    <div class="form-group">
        <label for="title">Angestellte</label>

        <div>
            <button type="button" class="btn btn-default" ng-click="addEmployee()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Angestellten hinzufügen
            </button>
        </div>
    </div>

    <employee ng-repeat="employee in employees" index="$index"></employee>

</form>

