<form name="form" novalidate>
  <div class="form-group">
    <label for="title">Titel</label>
    <input type="text" class="form-control" id="title" placeholder="Titel eingeben" ng-model="modalVars.data.title"
           required name="title">
  </div>

  <div class="form-group">
    <label for="text">Text</label>
    <text-angular ta-paste="modifyHtml($html)" id="text" ng-model="modalVars.data.caption"
                  name="caption"></text-angular>
  </div>

  <div>
    <div class="inline-block" ng-if="modalVars.data.bgImgSrc != ''">
      <div class="thumbnail">
        <img ng-src="{{serverRoot + modalVars.data.bgImgThumbSrc}}" alt="">
      </div>
    </div>
    <div class="inline-block">
      <div class="form-group">
        <label for="height">Höhe</label>
        <popover data="popovers.units"></popover>

        <div class="input-group height-num">
          <input type="text" class="form-control" id="height" placeholder="Höhe eingeben"
                 ng-model="modalVars.data.heightNum" required name="heightNum">

          <div class="input-group-btn">
            <button type="button" class="btn"
                    ng-class="{'btn-primary' : modalVars.data.heightUnit == 'px',
                               'btn-default' : modalVars.data.heightUnit == 'vh'}"
                    ng-click="setHeightUnit('px')">px
            </button>
            <button type="button" class="btn"
                    ng-class="{'btn-primary' : modalVars.data.heightUnit == 'vh',
                               'btn-default' : modalVars.data.heightUnit == 'px'}"
                    ng-click="setHeightUnit('vh')">vh
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Hintergrundbild</label>
        <input type="file" nv-file-select uploader="uploader" required/><br/>

        <div ng-show="uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0"
               ng-style="{'visibility': uploader.isUploading ? 'visible' : 'hidden'}">
            <div class="progress-bar" role="progressbar"
                 ng-style="{ 'width': uploader.queue[uploader.queue.length - 1].progress + '%' }"
                 ng-class="{'progress-bar-striped active' : uploader.queue[uploader.queue.length - 1].progress == 100 &&
                   !uploader.queue[uploader.queue.length - 1].isSuccess,
                   'progress-bar-success' : uploader.queue[uploader.queue.length - 1].isSuccess}"></div>
          </div>
        </div>

        <ng-fu-error-reporter></ng-fu-error-reporter>

      </div>
    </div>
  </div>

  <div ng-show="form.$submitted && (!form.$valid || !firstUploadFinished || uploader.isUploading)"
       class="alert alert-warning">
    <ul>
      <li ng-show="form.title.$error.required || form.heightNum.$error.required">
        {{errorMessages.emptyField}}
        <!--TODO (1.0.0) mark required fields seperately fot this error message to make sense when not all fields are required-->
      </li>
      <li ng-show="!firstUploadFinished">
        {{errorMessages.noImageUploaded}}
      </li>
      <li ng-show="uploader.isUploading">
        {{errorMessages.uploaderIsUploading}}
      </li>
    </ul>
  </div>

</form>

