modal-blog-form {

  .list-group-item{
    line-height: 30px;
  }

  .pagination{
    margin: 0;

    span{
      cursor: pointer;
    }
  }

  .btn-spacer{
    height: 34px;
  }

  .form-control[readonly]{
    cursor: text;
    background-color: #fff !important;
  }

}
