$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: $navbar-height * 2;
}

//TODO seperate scss
.actions {
  text-align: right;
  margin-bottom: 30px;
}

.save-button {
  color: $gray-dark !important;
}

//TODO seperate scss
modal-instagram-form {
  .badge {
    margin-right: 10px;
  }

  .tag-option {
    margin-left: 20px;
  }
}

//TODO seperate scss
employee {

  padding-bottom: 15px;
  display: block;

  .employee-image {
    display: inline-block;
    width: 128px;
    padding: 20px;
    min-height: 128px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 66px;
    vertical-align: top;
  }

  .employee-main {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 0 10px;
  }

  .employee-actions {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 0 10px;

    .block-label {
      display: block;
    }
  }

}

//TODO seperate scss
modal-parallax-form {
  .height-num {
    width: 140px !important;
  }

  .thumbnail {
    display: inline-block;
  }

  .inline-block {
    display: inline-block;
    vertical-align: top;
  }

}

//TODO seperate scss
.container-signin {
  //text-align: center;

  .form-signin {
    max-width: 300px;
    text-align: center;
    margin: 0 auto 0 auto;

    img {
      height: 200px;
      width: 200px;
      border-radius: 100px;
      margin-bottom: 15px;
    }

    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.popover-title {
  font-weight: bold;
}
