//replace some default bootstrap variables..
@import "_bootstrap-theme-variables.scss";

//..include default bootstrap..
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//..and finally replace some bootstrap styles
@import "_bootstrap-theme.scss";

//import styles for views
@import "_employee.scss";
@import "_login.scss";
@import "_modal-instagram-form.scss";
@import "_modal-parallax-form.scss";
@import "_modal-calendar-form.scss";
@import "_modal-gallery-form";
@import "_modal-blog-form";
@import "_navigation.scss";
@import "_contentpane.scss";
@import "_chart.scss";
@import "_page.scss";
@import "_welcome.scss";
@import "_infotile.scss";
@import "_backgroundswitcher.scss";
@import "../modules/textAngular/styles/ta-fileupload-popover";

//for legacy browsers
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

