contact-module {
  .container {
    margin-bottom: $grid-gutter-width;
  }

  alert {
    display: none;
    height: 0px;

//    .alert{
//      margin-top: 0px;
//      margin-bottom: 0px;
//    }
  }
}