//properties for sticky footer
body {
  height: 100%;
  margin: 0;
}

html {
  padding-bottom: $grid-gutter-width + 50px;
  min-height: 100%;
  position: relative;
}

//footer styles

footer {
  width: 100%;
  font-size: 12px;
  height: 50px;
  box-sizing: content-box;
  line-height: 50px;
  vertical-align: middle;
  margin: $grid-gutter-width 0 0 0;
  text-align: right;
  color: #777777;
  border-top: 1px solid #121212;
  background-image: url("../images/dark_wall.png");
  position: absolute;
  bottom:0;

  .container{
    padding:0;

    a{
      color: #777777;
    }
  }
}
