//
// footer layout
// --------------------------------------------------

// footer styles
footer {

  .footer-outer {
    width: 100%;

    .footer-inner {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: $grid-gutter-width 0 $grid-gutter-width 0;
      box-sizing: border-box;
      @include footer();

      .low-priority {
        color: #999999;
        border-top: 1px solid #666666;
        text-align: center;
        margin-top: $grid-gutter-width;
        padding-top: $grid-gutter-width / 2;

        a, a:active, a:hover, a:visited {
          color: #999999;
        }

      }

      .high-priority{
        text-align: right;
        padding: 0 !important;
      }

      // link container elements
      .footer-element {
        display: inline-block;
        padding: 0 ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2);
      }

    }

  }

}

//
// additionally needed styles
// --------------------------------------------------

// properties for sticky footer
body {
  height: 100%;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}
