//
// footer layout
// --------------------------------------------------

// footer styles
footer {
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 0 0 0;
  position: absolute;
  bottom: 0;
  @include footer();

  // remove padding, so text can be on the full right or left
  .container {
    padding: 0;
  }

}

//
// additionally needed styles
// --------------------------------------------------

// properties for sticky footer
body {
  height: 100%;
  margin: 0;
}

html {
  padding-bottom: $footer-height;
  min-height: 100%;
  position: relative;
}

// space content on top of footer
// TODO (1.0.1) this doesn't go well with the last-module thing
.footer-spacer {
  height: $grid-gutter-width / 2;
}
