//
// basic module layout
// --------------------------------------------------

// gallery module
gallery-module{

  // wrapper for gallery images
  .image-wrapper{
    text-align: center;

    // container for image (realised as a background cover image to make it responsive)
    .image-container {
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: $grid-gutter-width;
      cursor: pointer;
    }

    // large image
    .image-large{
      height: 430px;
    }

  }

  // images put a margin to the bottom => remove it again (overflow hidden needed as overflow ranks higher than margin)
  .row{
    margin-bottom: -$grid-gutter-width;
    overflow: hidden;
  }

}
