image-module{
  .container{
    margin-top: $grid-gutter-width;
  }

  .image-wrapper{
    text-align: center;
    .image-container {
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: $grid-gutter-width;
      cursor: pointer;
    }
    .image-large{
      height: 430px;
    }
  }
}