image-module{
  .image-wrapper{
    text-align: center;
    .image-container {
      height: 200px;
      background-size: cover;
      background-position: center;
      margin-bottom: 30px;
    }
    .image-large{
      height: 430px;
    }
  }
}

.lb-backdrop{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  z-index: 9998;
  transition: opacity .3s linear 0s;
  opacity: 0;
}

.lb-backdrop-active{
  opacity: 1;
}

.lb-image{
  position: fixed;
  margin: auto;
  z-index: 9999;
  transition:
    opacity .3s linear 0s,
    left .3s linear 0.15s,
    bottom .3s linear 0s,
    right .3s linear .15s,
    width .3s linear 0s,
    height .3s linear 0s;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 80%;
}

.lb-image-active{
  opacity: 1;
}

.lb-image-vanish-left{
  height: 0%;
  width: 0%;
  opacity: 0;
  bottom: 200%;
}

.lb-image-enter-right{
  left: 100%;
}

.lb-image-enter-left{
  right: 100%;
}