//TODO (1.0.1) should tiles have no margin when there's only one column?

//
// basic module layout
// --------------------------------------------------

// infotile module
infotile-module {

  // wraps all deckgrid tiles. box styles get removed as all tiles are in their own box in this module
  .deckgrid-wrapper {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;

    // negative margin so boxes will line up on the sides
    .deckgrid {
      margin: 0 (-$grid-gutter-width / 2) 0 (-$grid-gutter-width / 2);
    }

    // needs to be removed again on small screens to fix a bug on android (and maybe other devices) where there is
    // empty space on the right side (negative margin gets interpreted wrong)
    @media screen and (max-width: 768px) {
      .deckgrid {
        margin: 0;
      }
    }

    // wrapper for tile
    .tile-wrapper {
      position: relative;

      // link icon wrapper for linked tiles
      .link-icon {
        position: absolute;
        top: -$grid-gutter-width / 2;
        right: 0;
        width: $grid-gutter-width * 1.5;
        height: $grid-gutter-width * 1.5;
        background-color: $accent-dark;
        border-radius: $grid-gutter-width * 0.75;
        text-align: center;

        // has to be inside the box on small devices
        @media screen and (max-width: 768px) {
          right: $grid-gutter-width * 1.5;
          top: $grid-gutter-width;
        }

        // link icon
        .glyphicon {
          line-height: $grid-gutter-width * 1.5;
          font-size: 25px;
          color: $accent;
        }
      }
    }

    // remove standard link styles for linked tiles
    a {
      text-decoration: none;
      color: $text-color;
    }

    // add a hover effect for linked tiles
    a:hover .tile-content-wrapper {
      background-color: $accent-dark;
      transition: background-color 0.5s linear;
    }

    // wrapper for tile content
    .tile-content-wrapper {
      text-align: left;
      padding: $grid-gutter-width / 2;
      margin: $grid-gutter-width ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2);
      transition: background-color 0.5s linear;
      @include box-style();

      // tile image
      img {
        width: 100%;
      }

      // tile title
      h4 {
        text-align: center;
      }

      // title and text container
      .title-text-container {
        margin: ($grid-gutter-width / 2) 0 0 0;
      }

    }

  }

}
