instagram-module{
  .wrapper{
    background-image: url('../images/instagram_module/fabric.png');
  }
  .container{
    padding: 0 0 0 0;
    margin-top: $grid-gutter-width;
  }
  .instagram-carousel{
    max-width: 750px;
    margin: 0 auto 0 auto;
  }

  .carousel-inner{
    width: 80%;
    margin-left: 10%;
  }

  .carousel-control.left, .carousel-control.right{
    background: none;
  }

  .carousel-control{
    width: 10%;
  }
}
