//
// basic module layout
// --------------------------------------------------

// wrapper for all box-modules. this styles the overall look around the boxes
.full-width-wrapper {

  // this styles the box
  .container {
    padding: ($grid-gutter-width / 2);
    @include box-style();

    // remove left & right borders on small screens (`.container` has width 100% on these)
    // -1 needed as `.container-sm` is defined for "`$screen-sm-min` and up".
    @media (max-width: $screen-md-min - 1) {
      border-right: none;
      border-left: none;
    }

    // fixed width underlining for module titles
    .underline {
      box-sizing: content-box;
      display: block;
      margin-bottom: $grid-gutter-width / 2;
      @include underline();
    }

  }

}

// spacer for making boxes grid compatible
.spacer{
  height: $grid-gutter-width;
}
