nav{

  font-family: $font-headings;

  .logo{
    position: fixed;
    left: 6px;
    top: 6px;

    img{
      height: 54px;
      width: 54px;
    }
  }
}

// space out content for fixed nav
body {
  padding-top: $navbar-height;
}
