.parallax-image {
  transform: translate3d(0px, 0px, 0px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.parallax-module {
  margin: ($grid-gutter-width / 2) 0 ($grid-gutter-width / 2) 0;
  display: block;
  position: relative;
  overflow: hidden;

  .wrapper {
    position: absolute;
    top: $grid-gutter-width * 2;
    left: 0;
    max-width: 90%;

    > * {
      background-color: $gray-dark;
      display: table;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-style: normal;
      margin: 0 0 0 $grid-gutter-width * 2;
      color: $gray-super-light;
    }

    .title {
      margin-bottom: $grid-gutter-width ;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      font-style: italic;
    }
  }

  .scroll-hint {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -25px;
    height: 50px;
    width: 50px;
    background-color: $gray-dark;
    border-radius: 25px;
    line-height: 63px;
    text-align: center;
    transition: opacity 0.7s ease;

    .glyphicon {
      color: $bright;
      font-size: 23px;
    }
  }

}

$bp: 14px;
//base padding (because font isn't spaced symmetrically)
$sp: $bp * 1.4;
//spaced padding
$bfs: 55px;
//base font-size

@mixin parallax-module($factor) {
  .parallax-module {
    .title {
      padding: round($factor * $bp) round($factor * $sp) round($factor * $sp) round($factor * $sp);
      font-size: round($factor * $bfs);
      line-height: round($factor * $bfs);
    }
    .caption {
      padding: round($factor * 0.5 * $bp) round($factor * 0.5 * $sp) round($factor * 0 * $sp) round($factor * 0.5 * $sp);
      font-size: round($factor * 0.5 * $bfs);
    }
  }
}

@media(max-width: 767px) {
  @include parallax-module(0.56);
}

@media(min-width: 768px) {
  @include parallax-module(0.64);
}

@media(min-width: 992px) {
  @include parallax-module(0.826666);
}

@media(min-width: 1200px) {
  @include parallax-module(1);
}
