//
// basic preloadBar layout
// --------------------------------------------------

preload-bar {

  .preload-bar-container {
    position: fixed;
    top: $navbar-height;
    width: 100%;
    z-index: 9999;

    .preload-bar {
      height: 2px;
      background-color: $accent-dark;
      width: 0;
    }

  }

}
