//bootstrap
@import "bootstrap/_bootstrap.scss";

//variables
@import "_variables.scss";

//modules
@import "_parallax-module.scss";
@import "_image-module.scss";
@import "_contact-module.scss";
@import "_instagram-module.scss";
@import "_footer.scss";
@import "_lightbox.scss";
@import "_modal.scss";

//fonts
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

//TODO all bootstrap changes in bootstrap scss's

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: $navbar-height;
  padding-bottom: 0px;
  background-color: $bright;
  font-family: "adelle",serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}