<div class="container">
    <h3>Haben Sie Fragen?</h3>
    <form name="contactForm" novalidate ng-submit="submit($event)">

        <div class="form-group has-feedback">
            <label for="name">Name</label>
            <input type="text"
                   name="nameInput"
                   class="form-control"
                   id="name"
                   ng-model="formData.name"
                   placeholder="Ihr Name"
                   ng-keypress="activateKeyupTrigger()"
                   ng-keyup="keyupTrigger($event, contactForm.nameInput.$error, contactForm.nameInput.$valid)"
                   ng-blur="blurTrigger($event, contactForm.nameInput.$error, contactForm.nameInput.$valid)"
                   required
                   aria-describedby="inputSuccess2Status"><!--TODO aria describedby--><!--TODO ng change/keyup/down???-->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(success)</span>
            <alert type="'nameRequired'" measure-offscreen></alert>
        </div>

        <div class="form-group has-feedback">
            <label for="email">E-Mail Adresse</label>
            <input type="email"
                   name="emailInput"
                   class="form-control"
                   id="email"
                   ng-model="formData.email"
                   placeholder="Ihre E-Mail Adresse"
                   ng-keypress="activateKeyupTrigger()"
                   ng-keyup="keyupTrigger($event, contactForm.emailInput.$error, contactForm.emailInput.$valid)"
                   ng-blur="blurTrigger($event, contactForm.emailInput.$error, contactForm.emailInput.$valid)"
                   required
                   pattern=".{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+"
                   aria-describedby="inputSuccess2Status"><!--TODO aria describedby--><!--TODO wrong regex: asfwf@t-online.de -->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(success)</span>
            <alert type="'emailRequired'" measure-offscreen></alert>
            <alert type="'emailInvalid'" measure-offscreen></alert>
        </div>

        <div class="form-group has-feedback">
            <label for="message">Nachricht</label>
            <textarea type="text"
                   name="messageInput"
                   class="form-control"
                   id="message"
                   rows="3"
                   ng-model="formData.message"
                   placeholder="Ihre Nachricht"
                   ng-keypress="activateKeyupTrigger()"
                   ng-keyup="keyupTrigger($event, contactForm.messageInput.$error, contactForm.messageInput.$valid)"
                   ng-blur="blurTrigger($event, contactForm.messageInput.$error, contactForm.messageInput.$valid)"
                   required
                   aria-describedby="inputSuccess2Status"></textarea><!--TODO aria describedby-->
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(success)</span>
            <alert type="'messageRequired'" measure-offscreen></alert>
        </div>

        <button type="submit" class="btn btn-default">Absenden</button>
    </form>
    <modal></modal>
</div>