<div class="full-width-wrapper">
  <div class="container">
    <h3>{{data.title}}</h3>
    <div class="underline"></div>

    <form name="contactForm" novalidate ng-submit="submit($event)">

      <div class="form-group has-feedback"
           ng-class="{'has-warning' : contactForm.nameInput.$error.required && contactForm.nameInput.initiated,
                        'has-success' : contactForm.nameInput.$valid && contactForm.nameInput.initiated}">
        <label for="name">Name</label>
        <input type="text"
               name="nameInput"
               class="form-control"
               id="name"
               placeholder="Ihr Name"
               required
               ng-model="formData.name"
               ng-model-options="{allowInvalid: true, updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}"
               ng-change="modelChanged(contactForm.nameInput)">
            <span class="glyphicon form-control-feedback" aria-hidden="true"
                  ng-class="{'glyphicon-warning-sign' : contactForm.nameInput.$error.required && contactForm.nameInput.initiated,
                             'glyphicon-ok' : contactForm.nameInput.$valid && contactForm.nameInput.initiated}"></span>
        <alert type="'nameRequired'" resizable-alert></alert>
      </div>

      <div class="form-group has-feedback"
           ng-class="{'has-warning' : contactForm.emailInput.$error.required && contactForm.emailInput.initiated,
                        'has-success' : contactForm.emailInput.$valid && contactForm.emailInput.initiated,
                        'has-error' : !contactForm.emailInput.$valid && contactForm.emailInput.initiated && !contactForm.emailInput.$error.required}">
        <label for="email">E-Mail Adresse</label>
        <input type="email"
               name="emailInput"
               class="form-control"
               id="email"
               ng-model="formData.email"
               ng-model-options="{allowInvalid: true, updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}"
               ng-change="modelChanged(contactForm.emailInput)"
               placeholder="Ihre E-Mail Adresse"
               required
               pattern=".{1,}@[_a-z0-9A-Z.-]+(\.[a-z0-9A-Z]+)+">
            <span class="glyphicon form-control-feedback" aria-hidden="true"
                  ng-class="{'glyphicon-warning-sign' : contactForm.emailInput.$error.required && contactForm.emailInput.initiated,
                             'glyphicon-ok' : contactForm.emailInput.$valid && contactForm.emailInput.initiated,
                             'glyphicon-remove' : !contactForm.emailInput.$valid && contactForm.emailInput.initiated}"></span>
        <alert type="'emailRequired'" resizable-alert></alert>
        <alert type="'emailInvalid'" resizable-alert></alert>
      </div>

      <div class="form-group has-feedback"
           ng-class="{'has-warning' : contactForm.messageInput.$error.required && contactForm.messageInput.initiated,
                        'has-success' : contactForm.messageInput.$valid && contactForm.messageInput.initiated}">
        <label for="message">Nachricht</label>
            <textarea type="text"
                      name="messageInput"
                      class="form-control"
                      id="message"
                      rows="3"
                      ng-model="formData.message"
                      placeholder="Ihre Nachricht"
                      ng-model-options="{allowInvalid: true, updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0}}"
                      ng-change="modelChanged(contactForm.messageInput)"
                      required></textarea>
            <span class="glyphicon form-control-feedback" aria-hidden="true"
                  ng-class="{'glyphicon-warning-sign' : contactForm.messageInput.$error.required && contactForm.messageInput.initiated,
                             'glyphicon-ok' : contactForm.messageInput.$valid && contactForm.messageInput.initiated}"></span>
        <alert type="'messageRequired'" resizable-alert></alert>
      </div>

      <div class="form-group homepage">
        <label for="homepage">Homepage</label>
        <input type="text"
               name="homepageInput"
               class="form-control"
               id="homepage"
               ng-model="formData.homepage"
               placeholder="Ihre Homepage">
      </div>

      <div class="checkbox tos">
        <label>
          <input id="terms-of-service" name="terms-of-service" ng-model="formData.termsOfService" type="checkbox">
          I agree to the <a href="#/termsOfService">Terms of Service</a>
        </label>
      </div>

      <button type="submit" class="btn btn-default">Absenden</button>

    </form>
    <modal></modal>
  </div>
</div>
