<div class="container">
    <div class="row">
        <div class="col-xs-12 image-wrapper"
             ng-repeat="image in data.images"
             ng-class="{'col-md-3 col-sm-4' : image.imageSize == 'small'}"
             >
            <div class="image-container"
                 ng-style="{'background-image' : getImageSrc($index)}"
                 ng-class="{'image-large' : image.imageSize == 'large'}"
                 ng-click="lbOpen($index)"
                 >
            </div>
        </div>
    </div>
</div>