<div class="full-width-wrapper" ng-cloak>

  <div class="container">
    <h3>{{data.title}}</h3>
    <div class="underline"></div>
  </div>

  <div class="container deckgrid-wrapper">
    <div deckgrid source="data.infotiles" class="deckgrid">
      <div class="tile-wrapper">

        <a ng-href="{{card.url}}" target="_blank" wrap-if="{{card.urlEnabled}}">
          <div class="tile-content-wrapper">

            <div class="link-icon" ng-show="card.urlEnabled">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            </div>

            <img ng-src="{{card.imageSrc}}" alt="Bild zu {{card.title}}">

            <div class="title-text-container">
              <h4>{{card.title}}</h4>

              <p>{{card.text}}</p>
            </div>
          </div>
        </a>

      </div>
    </div>
  </div>

</div>
