<div class="wrapper">
    <div class="container">
        <div id="instagram-carousel" class="carousel slide instagram-carousel" data-ride="carousel"
             data-interval="false" ng-show="images">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#instagram-carousel" ng-class="{'active' : $index == 0}" ng-repeat="image in images"
                    data-slide-to="{{$index}}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item" ng-repeat="image in images" ng-class="{'active' : $index == 0}">
                    <a href="{{image.link}}" target="_blank">
                        <img ng-src="{{image.url}}" width="{{image.dimensions.width}}"  height="{{image.dimensions.height}}" alt="{{image.caption}}">
                    </a>
                    <div class="carousel-caption">
                        {{image.caption}}
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" ng-click="previous()" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" ng-click="next()" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>