<!--<div class="parallax-module" data-stellar-background-ratio="0.2">-->
    <!--<div class="wrapper">-->
        <!--<div class="title" ng-bind-html="data.title"></div>-->
        <!--<div class="caption" ng-bind-html="data.caption"></div>-->
    <!--</div>-->
<!--</div>-->

<div class="parallax-module" data-stellar-background-ratio="0.2" onload="notifyLoaded()">
    <div class="wrapper">
        <div class="title">{{data.title}}</div>
        <div class="caption">{{data.caption}}</div>
    </div>
</div>
